RewriteEngine on


RewriteRule ^inicio$ /index.php [L]

RewriteRule ^producto/(.*)$  /productos.php?id=$1
RewriteRule ^contacto$  /index.php?inicio=contacto
RewriteRule ^inicio$  /index.php
RewriteRule ^servicios$  /index.php?inicio=servicios
RewriteRule ^solicitudes$  /index.php?informacion=servicios
RewriteRule ^panel$  /index.php?informacion=panel
RewriteRule ^chat$  /index.php?informacion=chat
RewriteRule ^agenda$  index.php?informacion=agenda
RewriteRule ^ayuda$  index.php?informacion=ayuda
RewriteRule ^configuracion$  index.php?informacion=configuracion
RewriteRule ^notificaciones$  index.php?informacion=notificaciones
RewriteRule ^catalogo$  index.php?inicio=catalogo
RewriteRule ^detalles$  index.php?inicio=detalles
RewriteRule ^chatear$  index.php?inicio=chatear
RewriteRule ^calificar$  index.php?informacion=calificar
RewriteRule ^modificar$  index.php?informacion=modificar